[submodule "blockchainbib"]
	path = blockchainbib
	url = https://github.com/kernoelpanic/blockchainbib.git
[submodule "bibliograpy"]
	path = bibliograpy
	url = https://github.com/NullHypothesis/bibliograpy.git
[submodule "blockchainbib_mirror"]
	path = blockchainbib_mirror
	url = https://gitlab.sba-research.org/aljosha/blockchainbib_mirror.git
